# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text
*.tex text
*.uxf binary
*.odt binary
*.xlsx binary
*.pdf binary
*.docx binary
*.xmi binay
*.zip binary
*.png binary
*.svg binary
