**/*.class
**/bin/
**/target/
**/.project
**/.classpath
**/workspace
**/.metadata
**/.settings
**/doc
**/.checkstyle
**/*~
**/#*#
**/*.aux
**/*.log
**/*.toc
**/*.iml
**/.idea
**/.Rhistory
**/.~lock.*#
**/.nsf*
**/.DS_Store
**/*.backup
**/*synctex.gz
**/*.fdb_latexmk
**/.vscode
**/*.adoc
!**/*.svg
!**/*.svg
